@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
}

$main-color: #052236;
$modal-bg: #052236b9;
$footer-txt-color: #f0f9ff;
$el-pd-horizontal: 3.75%;
$header-pd-vertical: 2.5rem;
$h1-size: 3.5rem;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;

  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

body {
  background-color: #f0f9ff;
  background-image: linear-gradient(
      rgb(249, 250, 251) 0%,
      rgba(249, 250, 251, 0.6) 80%,
      rgba(249, 250, 251, 0.3) 100%
    ),
    url(/src/assets/battleship.jpg);
  background-position: center;
  background-attachment: fixed;
  color: $main-color;
  margin: auto;
  max-width: 90rem;

  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style-type: none;
}

input[type="text"],
button {
  appearance: none;
  border: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

input:focus {
  outline: none;
}

.header {
  margin: auto;
  max-width: 1000px;
  padding: $header-pd-vertical $el-pd-horizontal;
  width: 100%;

  & > * {
    text-align: center;
  }
}

.main {
  min-height: calc(100vh - ($header-pd-vertical * 2) - $h1-size);
  padding: 0 $el-pd-horizontal;
}

.footer {
  padding: 0.33rem $el-pd-horizontal;
  background-color: $main-color;
  color: $footer-txt-color;
  font-size: 0.925rem;
}

.h1 {
  font-size: $h1-size;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  @media screen and (max-width: 1000px) {
    font-size: calc($h1-size - 0.5rem);
  }

  @media screen and (max-width: 800px) {
    font-size: calc($h1-size - 0.75rem);
  }
}

.h2 {
  font-size: 2.25rem;
}

.h3 {
  font-size: 1.35rem;
}

.modal {
  align-items: center;
  background-color: $modal-bg;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;

  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;

  z-index: 10;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-left: 0.75rem;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 1;
}

.opaque {
  opacity: 1;
}
