@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
}

$main-color: #052236;
$modal-bg: #133d5963;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;

  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
}

body {
  background-color: #f0f9ff;
  background-image: linear-gradient(
      rgb(249, 250, 251) 0%,
      rgba(249, 250, 251, 0.6) 80%,
      rgba(249, 250, 251, 0.3) 100%
    ),
    url(/src/assets/battleship.jpg);
  background-position: center;
  background-attachment: fixed;
  color: $main-color;
  min-height: 100vh;
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

input[type="text"],
button {
  appearance: none;
  border: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

input:focus {
  outline: none;
}

.body {
  padding: 0 3.75%;
}

.header {
  width: 100%;
  padding: 2.5rem 1.75rem;

  & > * {
    text-align: center;
  }
}

.h1 {
  font-size: 3.5rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  @media screen and (max-width: 1000px) {
    font-size: 3em;
  }

  @media screen and (max-width: 800px) {
    font-size: 2.5em;
  }
}

.h2 {
  font-size: 2.25rem;
}

.h3 {
  font-size: 1.35rem;
}

.modal {
  align-items: center;
  background-color: $modal-bg;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;

  width: 100%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
