$board-bg-color: #082f49;
$board-border: 2px solid $board-bg-color;
$board-shadow: 0px 0px 22px -12px rgba(66, 68, 90, 1);

$cell-size: 1.75rem;
$ship-item-size: 0.5rem;
$amount-size: 2rem;

$cell-bg-color: #f4f8fc;
$cell-disabled-bg: #f6d5d5;

$cell-reserved-bg: #f2f7fa;
$cell-hit-bg: #f87171;
$cell-miss-bg: #082f49;

$cell-ship-bg: #3b82f6 !important;
$cell-hit-color: #f0f9ff;

$game-btn-bg: #052236;

$game-ship-bg: #fff;
$game-ship-border: 2px solid #fff;

.game {
  //   display: none;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;

  animation: showElement 0.75s linear;

  &-container {
    display: flex;
    gap: 5rem;
    justify-content: center;

    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
      gap: 2.5rem;
    }
  }

  &-box {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 800px) {
      justify-content: center;
    }

    & > .disabled {
      position: relative;
      opacity: 0.65;

      & .game-board {
        &::before {
          content: "";

          height: 100%;
          left: 0;

          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }

  &-ships {
    display: flex;
    flex-direction: column;
  }

  &-item-ship {
    display: flex;
    gap: 0.25rem;
    opacity: 0.25;
  }

  &-list-ship {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;

    & .sunk {
      opacity: 1;
      animation: sunkShip 0.55s linear;

      &::before {
        background-color: #17588425;
        border-radius: 2rem;
        content: "";
        height: 150%;
        left: -25%;
        position: absolute;
        top: -25%;
        width: 150%;
        opacity: 0;
        animation: sunkBackground 0.55s linear;
      }
    }
  }

  &-item-part {
    background-color: $cell-miss-bg;
    height: $ship-item-size;
    width: $ship-item-size;
  }

  &-panel {
    display: flex;
    flex-direction: column;
    position: relative;

    transition: opacity 0.1s 0.25s linear;
  }

  &-board {
    background-color: $board-bg-color;
    border: $board-border;
    box-shadow: $board-shadow;
    display: grid;
    position: relative;

    gap: 2px;
    grid-template-columns: repeat(10, 1fr);

    padding: 2px;

    & .cell-disabled {
      background-color: $cell-disabled-bg;
    }

    & .reserved {
      background-color: $cell-reserved-bg;
    }
  }

  &-cell {
    align-items: center;
    background-color: $cell-bg-color;
    display: flex;
    height: $cell-size;
    justify-content: center;
    position: relative;
    width: $cell-size;

    &-ship {
      background-color: $cell-ship-bg;
      box-shadow: 0 25px 50px -12px inset rgba(219, 219, 219, 0.15);
    }

    & > .hit {
      background-color: $cell-hit-bg;

      color: $cell-hit-color;

      height: 100%;
      position: relative;
      width: 100%;

      animation: opaque 0.25s linear;

      &::before {
        color: $cell-hit-color;
        content: "\2716";
        font-size: 0.75rem;
        left: 50%;

        position: absolute;

        top: 50%;
        transform: translate(-50%, -50%);

        z-index: 2;
      }

      &::after {
        animation: hitIn 0.5s linear;
        background-color: #f8717195;

        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;

        position: absolute;
        top: 0;
        transform: scale(1);
        opacity: 0;

        width: 100%;
        z-index: 1;
      }
    }

    & .miss {
      background-color: $cell-miss-bg;
      border-radius: 50%;
      padding: 0.2rem;

      animation: missIn 0.25s linear;
    }
  }

  &-playername {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;

    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 18rem;
    width: 100%;
  }

  &-ship {
    display: flex;
    flex-direction: column;
    height: 8rem;
    position: relative;
    width: 100%;

    &-pick {
      align-items: center;
      display: flex;
      justify-content: center;
      left: 50%;

      position: absolute;
      transform: translateX(-50%);
    }

    &-object {
      background-color: transparent;
      background-color: $game-ship-bg;
      border: $game-ship-border;
      opacity: 0.8;
      cursor: grab;
      display: grid;
      flex: 1;
      gap: 2px;
      grid-template-columns: repeat(4, 1fr);

      &:active {
        cursor: grabbing;
      }
    }

    &-part {
      background-color: $cell-ship-bg;
      height: $cell-size;
      width: $cell-size;
    }

    &-amount {
      align-items: center;
      background-color: $game-btn-bg;
      border-radius: 2rem;
      box-shadow: 0 25px 50px -12px inset rgba(219, 219, 219, 0.15);

      color: $cell-bg-color;
      display: flex;

      height: $amount-size;
      justify-content: center;
      // margin: auto;
      margin-left: 1rem;
      width: $amount-size;
    }
  }

  &-turn {
    border: 3px solid $game-btn-bg;
    background-color: $game-ship-bg;
    box-shadow: 0 25px 50px -12px inset rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 1.5rem;
    width: 18.5rem;
  }

  &-current-name {
    color: $game-btn-bg;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;

    word-spacing: 5px;
  }
}

#computer {
  flex-direction: row-reverse;

  @media screen and (max-width: 800px) {
    flex-direction: row;
  }
  & .game-list-ship {
    align-items: start;
    @media screen and (max-width: 800px) {
      align-items: end;
    }
  }

  & .game-board {
    cursor: pointer;
  }
}

#play {
  width: 100%;
}

.animate-turn {
  animation: missIn 0.25 linear;
}
