$menu-bg-color: #052236;
$text-color: #f9fafb;
$button-bg-color: #3b82f6;
$focus-input: #85bafb;

$box-bg-color: #f0f9ff;

.menu {
  background-color: $menu-bg-color;
  display: none;
  margin: auto;
  max-width: 80rem;
  padding: 2.5rem 1.5rem;

  &::before {
    border: 2px solid $text-color;
  }

  &-title {
    color: $text-color;
    text-align: center;
    margin-bottom: 2rem;
  }

  &-form {
    display: flex;
    justify-content: space-evenly;
  }

  &-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > input {
      background: linear-gradient(to bottom, #dbdbdb, #f9f9f9, #dbdbdb);
      background-color: $text-color;
      border-radius: 0.25rem;

      font-size: 1.25rem;

      // max-width: 17.5rem;
      padding: 0.75rem 0.5rem;
      width: 18.25rem;

      &:focus {
        box-shadow: 0 25px 50px -12px inset rgba(0, 0, 0, 0.15);
        // outline: 5px solid $focus-input;
      }
    }
  }
}

.box,
.menu {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;

  &::before {
    border-radius: 1rem;

    box-shadow: 0 25px 50px -12px inset rgba(219, 219, 219, 0.15);
    content: "";
    left: 0.75rem;
    position: absolute;
    top: 0.75rem;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    z-index: -1;
  }
}

.box {
  align-items: center;
  background-color: $text-color;
  color: $menu-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  padding: 2.5rem;

  &::before {
    border: 3px solid $menu-bg-color;
  }
}

.result {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.75rem !important;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.desc {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

#target-icon {
  position: absolute;
  bottom: -12.5%;
  opacity: 0.225;
  right: -5%;

  transform: rotate(25deg);
  z-index: -1;

  width: 20rem;
  height: 20rem;
}
